/*--------------------------STYLE SHEET FOR HORIZONTAL MENU-----------------------------*/

       body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #b2beb5; /* For browsers that do not support gradients */
        background-image: linear-gradient(to bottom right, #b2beb5, #004953);
        background-size: cover;
        }

       .topnav {
        overflow: hidden;
        background-color: #333;
        background-image: linear-gradient(to right, #004953, #333);
        background-size: cover;
        }

       .topnav a {
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        }

       .topnav a:hover {
        background-color: #ddd;
        color: black;
        }

       .topnav a.active {
        background-color: #004953;
        color: white;
	border-radius: 4px;
	box-sizing: border-box;
        background-image: linear-gradient(-180deg, #004953 0%, #004953 100%);
	box-shadow: 0 1rem 1.25rem 0 rgba(22,50,50,0.50),
							0 -0.25rem 1.5rem rgba(16, 40, 33, 1) inset,
							0 0.75rem 0.5rem rgba(106, 140, 133, 1) inset,
							0 0.25rem rgba(6, 40, 33, 1) inset;
        }




/*--------------------------STYLE SHEET FOR PICTURE CAROUSEL-----------------------------*/

       .slideImage {
        position: absolute;
        clip: rect(0px, 1000px,400px, 0px);
        border-radius: 10px;
        }

       .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
        border-radius: 10px;
        }

        .mySlides {
        display: block;
        height: 400px;
        background: #141414;
        box-shadow: 0 0 15px 10px #141414;
        border-radius: 10px;
        }

       .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: #222428;
        font-weight: bold;
        font-size: 30px;
        transition: .6s ease;
        border-radius: 0 3px 3px 0
        }

       .next {
        right: -50px;
        border-radius: 3px 3px 3px 3px
        }

       .prev {
        left: -50px;
        border-radius: 3px 3px 3px 3px
        }

       .prev:hover,.next:hover {
        color: #f2f2f2;
        background-color: rgba(0, 0, 0, 0.8)
        }

       .text {
        color: white;
        font-size: 15px;
        padding-top: 12px;
        padding-bottom: 12px;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        text-shadow: 0px 0px 0px, 0 0 2px black, 0 0 5px black;
        }

       .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0
        }

       .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #717171;
        border-radius: 50%;
        display: inline-block;
        transition: background-color .6s ease
        }


/* IF I WANT TO USE THIS
background-image: linear-gradient(-180deg, #c3b091 0%, #c3b091 100%);
	box-shadow: 0 1rem 1.25rem 0 rgba(22,50,50,0.50),
							0 -0.25rem 1.5rem rgba(16, 14, 33, 1) inset,
							0 0.75rem 0.5rem rgba(350, 300, 245, 1) inset,
							0 0.25rem rgba(220, 180, 170, 1) inset;*/
       .active, .dot:hover {
         background-image: linear-gradient(-180deg, #c3b091 0%, #004953 100%);
	box-shadow: 0 1rem 1.25rem 0 rgba(22,50,50,0.50),
							0 -0.25rem 1.5rem rgba(16, 40, 33, 1) inset,
							0 0.75rem 0.5rem rgba(200, 240, 233, 1) inset,
							0 0.25rem rgba(1, 14, 16, 1) inset;
         }


        
/*--------------------------STYLE SHEET FOR GENERAL BODY LAYOUT---------------------------*/
        
	a:link {
	  color: white;
	  background-color: transparent;
	  text-decoration: none;
	}

	a:visited {
	  color: #e3dac9;
	  background-color: transparent;
	  text-decoration: none;
	}

	a:hover {
	  color: #e9d66b;
	  background-color: transparent;
	  text-decoration: underline;
	}        

        .container {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
          padding: 64px;
          box-sizing:border-box;
          }

        .row:after {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
          content: "";
          display: table;
          clear: both;
          box-sizing:border-box;
          }

        .column-66 {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
          float: left;
          width: 66.66666%;
          padding: 20px;
          box-sizing:border-box;
          }

        .column-33 {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
          float: left;
          width: 33.33333%;
          padding: 20px;
          box-sizing:border-box;
          }

        .large-font {
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 48px;
          box-sizing:border-box;
          }

        .xlarge-font {
          font-size: 64px;
          box-sizing:border-box;
          }

        .big_letters {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 55px;
          color: white;
          text-shadow: 0px 0px 0px, 0 0 25px black, 0 0 5px #004953;
          box-sizing:border-box;
          }

         .centerstuff {
          font-family: Arial, Helvetica, sans-serif;
          color: white;
          text-align:center; 
          margin-left: 25%;
          margin-right: 25%;
          box-sizing:border-box;
          text-shadow: 0px 0px 0px, 0 0 2px black, 0 0 5px black;
          }

         iframe {
          text-align:center; 
          display: block;
          margin: auto;
          background: #141414;
          box-shadow: 0 0 15px 10px #141414;
          }

        .button {
          font-family: Arial, Helvetica, sans-serif;
          border: none;
          color: white;
          padding: 14px 28px;
          font-size: 16px;
          cursor: pointer;
          background-color: #004953;
          border-radius: 10px;
	  box-sizing: border-box;
          background-image: linear-gradient(-180deg, #004953 0%, #004953 100%);
	  box-shadow: 0 1rem 1.25rem 0 rgba(22,50,50,0.50),
							0 -0.25rem 1.5rem rgba(16, 40, 33, 1) inset,
							0 0.75rem 0.5rem rgba(106, 140, 133, 1) inset,
							0 0.25rem rgba(6, 40, 33, 1) inset;
          }

        .button:hover {
          background-color: #ddd;
          color: black;
          }

        .btn1:hover {
          background-color: #ddd;
          color: black;
          }

        .btn1 {
          font-family: Arial, Helvetica, sans-serif;
          border: none;
          color: white;
          padding: 14px 28px;
          font-size: 16px;
          cursor: pointer;
          background-color: #004953;
          border-radius: 10px;
	  box-sizing: border-box;
          background-image: linear-gradient(-180deg, #004953 0%, #004953 100%);
	  box-shadow: 0 1rem 1.25rem 0 rgba(22,50,50,0.50),
							0 -0.25rem 1.5rem rgba(16, 40, 33, 1) inset,
							0 0.75rem 0.5rem rgba(106, 140, 133, 1) inset,
							0 0.25rem rgba(6, 40, 33, 1) inset;
          }

       .content_image {
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        background: #141414;
        box-shadow: 0 0 15px 10px #141414;
        height: auto;
        max-width: 100%;
        box-sizing:border-box;
        border-radius: 10px;
        }

        @media screen and (max-width: 1000px) {
        .column-66,
        .column-33 {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        text-align: center;
        box-sizing:border-box;
        }}


/*-----------------------------STYLE SHEET FOR CONTACT FORM-----------------------------*/


       .formClass {
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        }

        input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        box-sizing: border-box;
        }

       input[type=submit] {
        background-color: #004953;
        color: white;
        opacity: 1;
        padding: 12px 20px;
        border-radius: 4px;
        cursor: pointer;
        box-sizing: border-box;
        background-image: linear-gradient(-180deg, #004953 0%, #004953 100%);
	box-shadow: 0 1rem 1.25rem 0 rgba(22,50,50,0.50),
							0 -0.25rem 1.5rem rgba(16, 40, 33, 1) inset,
							0 0.75rem 0.5rem rgba(106, 140, 133, 1) inset,
							0 0.25rem rgba(6, 40, 33, 1) inset;
        }

       input[type=submit]:hover {
        background-color: #ddd;
        color: black;
        box-sizing: border-box;
        }

       .form_container {
        border-radius: 5px;
        background-color: #e3dac9;
        background-image: linear-gradient(to bottom right, #e3dac9, #6e7f80);
        padding: 20px;
        margin-left: 5%;
        box-sizing: border-box;
	width: 60%
        }





/*-----------------------------STYLE SHEET FOR SCROLL BAR--------------------------------*/


.scrollable {
    padding: 0% 10%;
    position: relative;
    border: 2px solid grey;
    border-radius: 5px;
    overflow: hidden;
    height: 400px;
    background-color: #e3dac9;
    box-shadow: 0px 0px 18px 3px grey inset
}

.scrollable.showScroll::after {
    position: absolute;
    content: '';
    top: 5%;
    right: 7px;
    height: 90%;
    width: 3px;
    background: rgba(224, 224, 255, .3);
    
}

.scrollable .content-wrapper {
    width: 100%;
    height: 100%;
    padding-right: 50%;
    overflow-y: scroll;
    
}
.scroller {
    z-index: 5;
    cursor: pointer;
    position: absolute;
    width: 10px;
    border-radius: 5px;
    background-color: #004953;
    background-image: linear-gradient(to right, #004953, #a8a787, #183821);
    top: 0px;
    right: 3px;
    -webkit-transition: top .08s;
    -moz-transition: top .08s;
    -ms-transition: top .08s;
    -o-transition: top .08s;
    transition: top .08s;
}
.content {
    -webkit-user-select: none;
    }
